<html>
<head>
  <title>all issues</title>
  <h2>Issue Central</h2>

  <a href="/issues/new">Create an Issue</a>
  <table>
    <head>
      <tr>
        <th>Issue</th>
        <th>Description</th>
      </tr>
    </head>
    <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td>
          <a href="/issues/<%= issue.id %>"> <%= issue.title%> </a>
        </td>
        <td><%= issue.description %> </td>


      </tr>
    <% end %>
    </tbody>
  </table>


  </ul>
</head>
</html>